

.service_item span i {
    font-size: 2.5rem;
    color:#e28743;
}

.service_item h6{
    color: #000d6b;
    font-size: 1.2rem;
    font-weight: 600;
    transition: .3s;
}

.service_item  h6:hover{
    color: #f59953;
}